@model List<TranslationApplication.Models.LanguagePair>

<h5 class="card-title title">Generate quiz</h5>

@foreach (var pair in Model)
{
    <div class="btn my-button btn-lg lighblue-custom btn-custom mb-4 d-flex">
        <form asp-controller="Quiz" asp-action="GenerateQuiz" method="post">
            <input type="hidden" name="languagePair" value="@pair.Language1&@pair.Language2" />
            <button class="btn" type="submit">@pair.Language1 to @pair.Language2</button>
        </form>
    </div>
    <div class="btn my-button btn-lg lighblue-custom btn-custom mb-4 d-flex">
        <form asp-controller="Quiz" asp-action="GenerateQuiz" method="post">
            <input type="hidden" name="languagePair" value="@pair.Language2&@pair.Language1" />
            <button class="btn" type="submit">@pair.Language2 to @pair.Language1</button>
        </form>
    </div>
}
